<div class="form-container">
  <h2>Atualizar Usuário</h2>

  <form (ngSubmit)="updateArtigo()">
    <label>
      Id:
      <input type="number" [(ngModel)]="artigoId" name="id" disabled />
    </label>
    <label>
      Título:
      <input type="text" [(ngModel)]="artigo.titulo" placeholder="Título" name="titulo" required />
    </label>

    <label>
      Conteúdo:
      <textarea
        name="conteudo"
        [(ngModel)]="artigo.conteudo"
        placeholder="Conteúdo"
      ></textarea>
    </label>

    <label>
      Imagem:
      <input type="file" placeholder="Imagem" name="imagem" accept="image/*" required />
    </label>

    <button type="submit">Salvar</button>
  </form>

  <div *ngIf="sucesso" class="sucesso-message">
    Artigo atualizado com sucesso!
  </div>
  
</div>
