<main class="home-main">
  <section class="intro">
    <h2>Sobre Nós</h2>
    <p>
      Somos uma equipe dedicada a partilhar artigos diversos que simplificam o
      seu dia a dia. Explore nossos produtos e serviços e descubra como podemos
      ajudá-lo a alcançar seus objetivos.
    </p>
  </section>

  <section class="servicos">
    <h2>Nosso Serviço</h2>
    <div class="servico">
      <h3>Serviço 1</h3>
      <p>Descrição do serviço 1 oferecido pela nossa empresa.</p>
    </div>
    <div class="servico">
      <h3>Serviço 2</h3>
      <p>Descrição do serviço 2 oferecido pela nossa empresa.</p>
    </div>
    <div class="servico">
      <h3>Serviço 3</h3>
      <p>Descrição do serviço 3 oferecido pela nossa empresa.</p>
    </div>
  </section>
</main>