<h2>Lista de Artigos</h2>

<div *ngIf="sucesso" class="sucesso-message">Artigo deletado com sucesso!</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
<ul *ngIf="artigos.length > 0; else mensagemArtigo" class="artigo-list">
  <li *ngFor="let artigo of artigos" class="artigo-item">
    <h1>{{ artigo.titulo }}</h1>
    <p>{{ artigo.conteudo }}</p>
    <div class="btn-group">
      <button (click)="getArtigo(artigo.id!)" class="btn-ver">
        Ver Artigo
      </button>
      <button (click)="updateArtigo(artigo.id!)" class="btn-atualizar">
        Atualizar Artigo
      </button>
      <button (click)="deleteArtigo(artigo.id!)" class="btn-deletar">
        Deletar Artigo
      </button>
    </div>
  </li>
</ul>

<ng-template #mensagemArtigo>
  <p>Nenhum artigo disponível</p>
</ng-template>
